<html>
    <head>
    </head>
    <body>
        <div class="post">
            <article class="text">
            <a href="/post/1/">
                <h2>Title 1</h2> 
            </a>
            
            Body of the post 1.
            
            </div>
        <div class="post">
            <article class="text">
            <a href="/post/2/">
                <h2>Title 2</h2> 
            </a>
            
            Body of the post 2.
            
            </div>
        <div class="post">
            <article class="text">
            <a href="/post/3/">
                <h2>Title 3</h2> 
            </a>
            
            Body of the post 3.
            
            </div>
        
     </body>
</html>
