<html>
    <head>
        <title>{Title}</title>

        <meta name="color:Background" content="#ccc"/>
        <meta name="color:Content Background" content="#fff"/>
        <meta name="font:Title" content="Helvetica Neue"/>
        <meta name="font:Body" content="Arial, Helvetica, sans-serif"/>
        <meta name="color:Text" content="#000"/>
        <meta name="if:Show Main Nav" content="1" />
        <meta name="if:Show Tags" content="0" />

        <style type="text/css">
            #content {
                background-color: {color:Content Background};
                color: {color:Text};
            }
        </style>

    </head>
    <body bgcolor="{color:Background}">
        ...
    </body>
</html>
